//------------------------------------------------
// Content - Default
//------------------------------------------------

.site-content {
	background: $gray-dark;
	padding-top: $content-vertical-padding;
}

.content-area {
	@include clearfix;
	background: $white;

	p {
		line-height: 1.6;
	}
}





// ---------------
// Posts and pages
// ---------------

.page-content {
	text-align: justify;

	@include breakpoint($break-medium) {
		@include span(isolate 8 at 3);
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;

	@include breakpoint($break-large) {
		margin-bottom: 4.5em;
	}
}

.post-excerpt {
	@include clearfix;
}

.byline,
.updated:not(.published) {
	display: none;
}

.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-meta {
	@include span(2 of 9 first);
	margin-top: 20px;
	text-align: right;
}

.post__content {
	@include span(7 at 3 of 9 last);
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.posted-on,
.cat-links,
.tags-links,
.comments-link {
	position: relative;
	font-family: $font-headings;
	font-size: 16px;
	font-size: 1.6rem;
	margin-right: 20px;
	text-transform: uppercase;

	&:before {
		@include icon;
		font-size: 20px;
		font-size: 2rem;
		margin-right: 7px;
		position: relative;
	}
}

.posted-on:before {
	bottom: -2px;
	content: 'y';
	font-size: 18px;
	font-size: 1.8rem;
}

.cat-links:before {
	bottom: -4px;
	content: 'b';
}

.tags-links:before {
	bottom: -4px;
	content: 'w';
}

.comments-link:before {
	bottom: -3px;
	content: 'z';
}





// ---
// 404
// ---

.error404 {
	color: $white;

	.container {
		position: relative;
	}

	.site-content {
		@include background-size(cover);
		background-image: url('../img/404-sm.jpg');
		background-position: center bottom;
		height: 100%;
		left: 0;
		padding-top: 0;
		position: fixed;
		top: 0;
		width: 100%;

		@include breakpoint($break-medium) {
			background-image: url('../img/404.jpg');
			background-position: center;
			padding-top: $content-vertical-padding;
		}

		&:before {
			background: $secondary;
			content: '';
			height: 100%;
			left: 0;
			opacity: 0.5;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: -1;
		}
	}
}

.heading--404 {
	font-family: $font-headings;
	font-size: 60px;
	font-size: 6rem;
	text-transform: uppercase;
}

.subheading--404 {
	margin-bottom: 30px;
}

.search-form--404 {
	border-bottom: 3px solid $white;
	position: relative;
	width: 100%;

	@include breakpoint($break-small) {
		width: 300px;
	}

	input[type="text"] {
		@include appearance(none);
		@include box-shadow(none);
		@include border-radius(0);
		background: none;
		border: 0;
		color: $white;
		line-height: 30px;
		padding-right: 33px;
		transition: background 0.3s;
		width: 100%;

		&:focus {
			background: rgba($white, 0.3);
			color: $white;
			outline: none;
			outline-style: none;
		}
	}
}

.search-button--404 {
	background: none;
	border: none;
	bottom: 3px;
	height: 30px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	transition: none;
	text-indent: -9999em;
	width: 33px;

	&:before {
		@include icon;
		background: transparent;
		content: 'f';
		display: block;
		font-size: 22px;
		font-size: 2.2rem;
		height: 100%;
		line-height: 30px;
		text-align: center;
		text-indent: 0;
		width: 100%;
	}

	&:hover {
		@include appearance(none);
		@include box-shadow(none);
		background: transparent;
		border: none;
		color: $white;
	}
}

.notice--404 {
	bottom: $space;
	height: 50px;
	opacity: 0.5;
	position: absolute;
	right: $space;
	transition: opacity 0.3s;
	width: 87px;

	&:hover {
		opacity: 1;
	}
	
	img {
		height: auto;
		width: 100%;
	}
}





// ------
// Asides
// ------

.has-aside {
	.blog__main {
		@include span(9 at 1);
	}

	#secondary {
		@include span(2 at 9);
	}
}

.blog,
.archive {
	.format-aside .entry-title {
		display: none;
	}
}





// --------
// Comments
// --------

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}





// -----
// Media
// -----

.page-content,
.entry-content,
.comment-content {
	.wp-smiley {
		border: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
	}
}





// --------
// Captions
// --------

.wp-caption-text {
	text-align: center;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin: 0 auto;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}





// ---------
// Galleries
// ---------

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	
	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}
