//------------------------------------------------
// Footer
//------------------------------------------------

.site-footer {
	background: $gray-light;
	color: darken($gray-light, 25%);
	font-family: $font-headings;
	font-size: 14px;
	letter-spacing: 1.25px;
	padding: ($space * 2) 0;
	text-align: center;
	text-transform: uppercase;

	a {
		color: lighten($gray-dark, 30%);
	}

	p {
		margin: 0;
	}

	.icon-mountain {
		margin-left: 1px;
		position: relative;

		&:before {
			bottom: -9px;
			font-size: 30px;
			position: relative;
		}
	}
}
