//------------------------------------------------
// Header
//------------------------------------------------

.site-header {
	background: $gray-dark;
	left: 0;
	max-height: 110px;
	position: fixed;
	right: 0;
	top: 0;
	transition: max-height 0.3s;

	&.is-fixed {
		max-height: 70px;
	}

	.admin-bar & {
		top: 32px;
	}

	.container {
		position: relative;
	}
}

.site-branding {
	@include span(3 of 12);
}

.site-title {
	@include clearfix;
	font-size: 18px;
	font-size: 1.8rem;
	margin: 15px 0;

	.is-fixed & {
		margin: 10px 0;
	}
}

.site-title__logo {
	height: auto;
	max-height: 80px;
	max-width: 100%;
	transition: max-height 0.3s;
	vertical-align: middle;

	.is-fixed & {
		margin: 0;
		max-height: 50px;
	}
}
