//------------------------------------------------
// Header
//------------------------------------------------

.site-header {
	background: $gray-dark;

	@include breakpoint($break-medium) {
		left: 0;
		max-height: $content-vertical-padding;
		position: fixed;
		right: 0;
		top: 0;
		transition: max-height 0.3s;
		z-index: 100;	
	}

	&.is-fixed {
		max-height: 70px;
	}

	.admin-bar & {
		top: 46px;

		@include breakpoint(783px) {
			top: 32px;
		}
	}

	.container {
		position: relative;
	}
}

.site-branding {
	@include span(3 of 12);
}

.site-title {
	@include clearfix;
	font-size: 18px;
	font-size: 1.8rem;
	margin: 10px 0;

	@include breakpoint($break-medium) {
		margin: 15px 0;
	}

	.is-fixed & {
		margin: 10px 0;
	}

	a:focus {
		outline: none;
	}
}

.site-title__logo {
	height: auto;
	max-height: 40px;
	max-width: 100%;
	transition: max-height 0.3s;
	vertical-align: middle;

	@include breakpoint($break-medium) {
		max-height: 80px;
	}

	.is-fixed & {
		margin: 0;
		max-height: 50px;
	}
}
