//------------------------------------------------
// Sidebar
//------------------------------------------------


.widget-title {
	font-family: $font-headings;
	font-size: 18px;
	font-size: 1.8rem;
	text-transform: uppercase;
}