//------------------------------------------------
// Content - Home
//------------------------------------------------

// --------
// Sections
// --------

.home__intro {
	@include breakpoint($break-medium) {
		@include span(isolate 8 at 3);
	}
}

.home__breakdown--stack {
	background: $gray-light;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	text-align: justify;

	@include breakpoint($break-xl) {
		padding-top: 3em;
		padding-bottom: 3em;
	}
}

.home__breakdown--design {
	@include span(5 first);
}

.home__breakdown--back {
	@include span(5 last);
}

.home__breakdown--front {
	@include span(isolate 6 at 4 break);
}

.home__portfolio,
.home__articles {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	text-align: justify;

	@include breakpoint($break-xl) {
		padding-top: 3em;
		padding-bottom: 3em;
	}
}





// --------
// Headings
// --------

.home__heading {

}

.heading__design {

}
