//------------------------------------------------
// Content - Portfolio
//------------------------------------------------

.portfolio__main {
	margin-top: 10px;

	.posts-navigation {
		@include span(isolate 8 at 3);
	}
}

.portfolio-content {
	@include span(isolate 8 at 3);
	text-align: justify;

	.post-navigation {
		@include span(full);
	}
}





// ---------------
// Portfolio Items
// ---------------

.portfolio-item {
	@include clearfix;
	position: relative;

	&:hover .portfolio-item__content {
		opacity: 1;
	}
	
	img {
		float: left;
		height: auto;
		width: 100%;
	}
}

.portfolio-item__content {
	background: rgba($gray-light, 0.7);
	height: 100%;
	opacity: 0;
	position: absolute;
	text-align: center;
	transition: opacity 0.3s;
	width: 100%;

	h3 {
		margin: 20% 0 5%;
	}
}
