wp/
.svn/
archives/
sitemap.xml
work/
.getinfo.php
local-config.php
wp-content/uploads/
wp-content/plugins/
wp-content/themes/twentyten/
wp-content/themes/twentyeleven/
wp-content/themes/twentytwelve/
wp-content/themes/twentythirteen/
wp-content/themes/twentyfourteen/
wp-content/themes/twentyfifteen/
maps/
img/
!**/img/
error_log
node_modules/
.sass-cache/