/* normalize-scss 3.0.2+normalize.3.0.2 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: 'cf-net';
  src: url("../fonts/cf-net.eot");
  src: url("../fonts/cf-net.eot?#iefix") format("embedded-opentype"), url("../fonts/cf-net.woff") format("woff"), url("../fonts/cf-net.ttf") format("truetype"), url("../fonts/cf-net.svg#cf-net") format("svg");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
.container:before, .container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
head {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}
head:before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}
head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}
head:hover ~ .container, head:hover ~ body .container {
  position: relative;
}
head:hover ~ .container:before, head:hover ~ body .container:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDBmZiIvPjxzdG9wIG9mZnNldD0iNjYuNjY2NjclIiBzdG9wLWNvbG9yPSIjNGQ0ZGZmIi8+PHN0b3Agb2Zmc2V0PSI2Ni42NjY2NyUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #0000ff), color-stop(66.66667%, #4d4dff), color-stop(66.66667%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, #0000ff, #4d4dff 66.66667%, rgba(0, 0, 0, 0) 66.66667%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: -webkit-linear-gradient(left, #0000ff, #4d4dff 66.66667%, rgba(0, 0, 0, 0) 66.66667%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(to right, #0000ff, #4d4dff 66.66667%, rgba(0, 0, 0, 0) 66.66667%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 8.57143%, 100% 24px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
}
head:hover ~ .container, head:hover ~ body .container {
  position: relative;
}
head:hover ~ .container:before, head:hover ~ body .container:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDBmZiIvPjxzdG9wIG9mZnNldD0iNjYuNjY2NjclIiBzdG9wLWNvbG9yPSIjNGQ0ZGZmIi8+PHN0b3Agb2Zmc2V0PSI2Ni42NjY2NyUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #0000ff), color-stop(66.66667%, #4d4dff), color-stop(66.66667%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, #0000ff, #4d4dff 66.66667%, rgba(0, 0, 0, 0) 66.66667%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: -webkit-linear-gradient(left, #0000ff, #4d4dff 66.66667%, rgba(0, 0, 0, 0) 66.66667%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(to right, #0000ff, #4d4dff 66.66667%, rgba(0, 0, 0, 0) 66.66667%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 8.57143%, 100% 24px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
}
@media (min-width: 720px) {
  .container {
    padding: 0 15px;
  }
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "ff-tisa-web-pro", Georgia, "Times New Roman", serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  word-wrap: break-word;
}

body {
  background: #FFF;
}

a {
  color: #4D9ABE;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0.5em 0;
}

h1 {
  font-size: 40px;
  font-size: 4rem;
}

h2 {
  font-size: 32px;
  font-size: 3.2rem;
}

h3 {
  font-size: 28px;
  font-size: 2.8rem;
}

h4 {
  font-size: 24px;
  font-size: 2.4rem;
}

h5 {
  font-size: 20px;
  font-size: 2.0rem;
}

h6 {
  font-size: 18px;
  font-size: 1.8rem;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  padding: 40px 0;
  text-align: center;
}
blockquote p,
q p {
  font-size: 24px;
  font-size: 2.4rem;
  font-style: italic;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  width: 70%;
}
blockquote p + p,
q p + p {
  margin-top: 1.5em;
}

hr {
  background: url("../img/lines-gray.png") left bottom repeat-x;
  border: 0;
  clear: both;
  height: 3px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}
ul li,
ol li {
  padding: 9px 0 7px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  max-width: 100%;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

embed,
iframe,
object {
  max-width: 100%;
}

body,
button,
input,
select,
textarea {
  color: #3D4C53;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin: 0 0 1.5em;
}

.intro {
  font-size: 24px;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #F1F1F1;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 1.5rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

[data-icon]:before {
  font-family: "cf-net" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: attr(data-icon);
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "cf-net" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hamburger:before {
  content: "h";
}

.icon-atmark:before {
  content: "a";
}

.icon-twitter:before {
  content: "t";
}

.icon-code:before {
  content: "m";
}

.icon-cogs:before {
  content: "c";
}

.icon-linkedin:before {
  content: "l";
}

.icon-email:before {
  content: "e";
}

.icon-mountain:before {
  content: "s";
}

.icon-categories:before {
  content: "b";
}

.icon-tools:before {
  content: "o";
}

.icon-github:before {
  content: "g";
}

.icon-js:before {
  content: "j";
}

.icon-arrow-right:before {
  content: ">";
}

.icon-arrow-left:before {
  content: "<";
}

.icon-arrow-up:before {
  content: "^";
}

.icon-arrow-down:before {
  content: "v";
}

.icon-css:before {
  content: "3";
}

.icon-html:before {
  content: "5";
}

.icon-exit:before {
  content: "x";
}

.icon-search:before {
  content: "f";
}

.icon-data:before {
  content: "q";
}

.icon-portfolio:before {
  content: "u";
}

.icon-tags:before {
  content: "w";
}

.icon-calendar:before {
  content: "y";
}

.icon-comments:before {
  content: "z";
}

.icon-download:before {
  content: "i";
}

.icon-meetup:before {
  content: "k";
}

.icon-design:before {
  content: "d";
}

.site-header {
  -moz-border-radius: 0 2px 2px #3D4C53;
  -webkit-border-radius: 0;
  border-radius: 0 2px 2px #3D4C53;
  background: #3D4C53;
  left: 0;
  max-height: 110px;
  position: fixed;
  right: 0;
  top: 0;
  transition: max-height 0.3s;
  z-index: 100;
}
.site-header.is-fixed {
  max-height: 70px;
}
.admin-bar .site-header {
  top: 32px;
}
.site-header .container {
  position: relative;
}

.site-branding {
  width: 22.85714%;
  float: left;
  margin-right: 2.85714%;
}

.site-title {
  font-size: 18px;
  font-size: 1.8rem;
  margin: 15px 0;
}
.site-title:before, .site-title:after {
  content: '';
  display: table;
}
.site-title:after {
  clear: both;
}
.is-fixed .site-title {
  margin: 10px 0;
}
.site-title a:focus {
  outline: none;
}

.site-title__logo {
  height: auto;
  max-height: 80px;
  max-width: 100%;
  transition: max-height 0.3s;
  vertical-align: middle;
}
.is-fixed .site-title__logo {
  margin: 0;
  max-height: 50px;
}

.site-content {
  background: #3D4C53;
  padding-top: 110px;
}

.content-area {
  background: #FFF;
}
.content-area:before, .content-area:after {
  content: '';
  display: table;
}
.content-area:after {
  clear: both;
}
.content-area p {
  line-height: 1.6;
}

.page-content {
  text-align: justify;
}
@media (min-width: 720px) {
  .page-content {
    width: 65.71429%;
    float: left;
    margin-left: 17.14286%;
    margin-right: -100%;
  }
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}
@media (min-width: 960px) {
  .hentry {
    margin-bottom: 4.5em;
  }
}

.post-excerpt:before, .post-excerpt:after {
  content: '';
  display: table;
}
.post-excerpt:after {
  clear: both;
}

.byline,
.updated:not(.published) {
  display: none;
}

.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
  text-align: justify;
}

.entry-meta {
  width: 19.23077%;
  float: left;
  margin-right: 3.84615%;
  margin-top: 20px;
  text-align: right;
}
.single-post .entry-meta {
  margin-top: 26px;
}

.post__content {
  width: 76.92308%;
  float: right;
  margin-right: 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.posted-on,
.cat-links,
.tags-links,
.comments-link {
  position: relative;
  font-family: "effra", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  margin-right: 20px;
  text-transform: uppercase;
}
.posted-on:before,
.cat-links:before,
.tags-links:before,
.comments-link:before {
  font-family: "cf-net" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-size: 2rem;
  margin-right: 7px;
  position: relative;
}

.posted-on:before {
  bottom: -2px;
  content: 'y';
  font-size: 18px;
  font-size: 1.8rem;
}

.cat-links:before {
  bottom: -4px;
  content: 'b';
}

.tags-links:before {
  bottom: -4px;
  content: 'w';
}

.comments-link:before {
  bottom: -3px;
  content: 'z';
}

.error404 {
  color: #FFF;
}
.error404 .container {
  position: relative;
}
.error404 .site-content {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url("../img/404-sm.jpg");
  background-position: center bottom;
  height: 100%;
  left: 0;
  padding-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
@media (min-width: 720px) {
  .error404 .site-content {
    background-image: url("../img/404.jpg");
    background-position: center;
    padding-top: 110px;
  }
}
.error404 .site-content:before {
  background: #E64A45;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.heading--404 {
  font-family: "effra", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-size: 6rem;
  text-transform: uppercase;
}

.subheading--404 {
  margin-bottom: 30px;
}

.search-form--404 {
  border-bottom: 3px solid #3D4C53;
  position: relative;
  width: 100%;
  border-bottom: 3px solid #FFF;
}
@media (min-width: 480px) {
  .search-form--404 {
    width: 300px;
  }
}
.search-form--404 input[type="text"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #F1F1F1;
  border: 0;
  color: #3D4C53;
  line-height: 30px;
  padding-right: 33px;
  width: 100%;
}
.search-form--404 input[type="text"]:focus {
  color: #3D4C53;
  outline: none;
  outline-style: none;
}
.search-form--404 label {
  display: none;
}
.search-form--404 input[type="text"] {
  background: rgba(255, 255, 255, 0.3);
  color: #FFF;
}
.search-form--404 input[type="text"]:focus {
  color: #FFF;
}
.search-form--404 .search-button:before, .search-form--404 .search-button:hover {
  color: #FFF;
}

.notice--404 {
  bottom: 20px;
  height: 50px;
  opacity: 0.5;
  position: absolute;
  right: 20px;
  transition: opacity 0.3s;
  width: 87px;
}
.notice--404:hover {
  opacity: 1;
}
.notice--404 img {
  height: auto;
  width: 100%;
}

.has-aside .blog__main {
  width: 74.28571%;
  float: left;
  margin-right: 2.85714%;
}
.has-aside #secondary {
  width: 22.85714%;
  float: right;
  margin-right: 0;
  margin-top: 20px;
}
.single-post .has-aside #secondary {
  margin-top: 26px;
}

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

.comments-area {
  width: 76.92308%;
  float: right;
  margin-right: 0;
}

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comment-list {
  margin: 0 0 40px;
  padding: 0;
  text-align: justify;
}
.comment-list .children {
  margin-top: 20px;
}

.comment + .comment {
  margin: 20px 0 0;
}

.comment-author:before, .comment-author:after {
  content: '';
  display: table;
}
.comment-author:after {
  clear: both;
}
.comment-author .avatar {
  float: left;
  height: 64px;
  margin: 0 20px 20px 0;
  width: 64px;
}

.comment-meta {
  min-height: 64px;
}
.comment-meta .fn {
  display: block;
  padding-top: 10px;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.wp-caption-text {
  text-align: center;
}

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

.widget-title {
  font-family: "effra", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  margin-top: 0;
  text-transform: uppercase;
}

.site-footer {
  background: #F1F1F1;
  color: #b1b1b1;
  font-family: "effra", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 1.25px;
  padding: 40px 0;
  text-align: center;
  text-transform: uppercase;
}
.site-footer a {
  color: #849aa5;
}
.site-footer p {
  margin: 0;
}
.site-footer .icon-mountain {
  margin-left: 1px;
  position: relative;
}
.site-footer .icon-mountain:before {
  bottom: -9px;
  font-size: 30px;
  position: relative;
}

.site-info {
  position: relative;
}

.site-navigation {
  width: 74.28571%;
  float: right;
  margin-right: 0;
  height: 100%;
}
.site-navigation .menu {
  bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10px;
}
.site-navigation .menu:before, .site-navigation .menu:after {
  content: '';
  display: table;
}
.site-navigation .menu:after {
  clear: both;
}
@media (min-width: 720px) {
  .site-navigation .menu {
    right: 15px;
  }
}
.site-navigation .menu li {
  display: inline-block;
  margin: 0 0 0 20px;
  padding: 0;
}
.site-navigation .menu li:hover a, .site-navigation .menu li.current-menu-item a, .archive:not(.post-type-archive-portfolio) .site-navigation .menu li.current_page_parent a, .single-post .site-navigation .menu li.current_page_parent a, .single-portfolio .site-navigation .menu li.menu-item-object-custom a {
  text-decoration: none;
}
.site-navigation .menu li:hover a:before, .site-navigation .menu li.current-menu-item a:before, .archive:not(.post-type-archive-portfolio) .site-navigation .menu li.current_page_parent a:before, .single-post .site-navigation .menu li.current_page_parent a:before, .single-portfolio .site-navigation .menu li.menu-item-object-custom a:before {
  left: 0;
  max-width: 100%;
}
.site-navigation .menu a {
  color: #FFF;
  display: block;
  font-family: "effra", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 20px 0;
  position: relative;
  text-transform: uppercase;
}
.site-navigation .menu a:before {
  background: #E64A45;
  bottom: 0;
  content: '';
  left: 50%;
  height: 8px;
  max-width: 0;
  position: absolute;
  transition: all 0.2s;
  width: 100%;
}

.menu-toggle {
  display: none;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  width: 76.92308%;
  float: right;
  margin-right: 0;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-previous a,
.posts-navigation .nav-previous a,
.post-navigation .nav-previous a {
  font-family: "effra", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.comment-navigation .nav-previous a:before,
.posts-navigation .nav-previous a:before,
.post-navigation .nav-previous a:before {
  font-family: "cf-net" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "<";
  font-size: 9px;
  font-size: 0.9rem;
  margin: 0 5px 0 0;
  position: relative;
  left: 0;
  transition: left 0.3s;
}
.comment-navigation .nav-previous a:hover,
.posts-navigation .nav-previous a:hover,
.post-navigation .nav-previous a:hover {
  text-decoration: none;
}
.comment-navigation .nav-previous a:hover:before,
.posts-navigation .nav-previous a:hover:before,
.post-navigation .nav-previous a:hover:before {
  left: -3px;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
.comment-navigation .nav-next a,
.posts-navigation .nav-next a,
.post-navigation .nav-next a {
  font-family: "effra", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.comment-navigation .nav-next a:after,
.posts-navigation .nav-next a:after,
.post-navigation .nav-next a:after {
  font-family: "cf-net" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: ">";
  font-size: 9px;
  font-size: 0.9rem;
  margin: 0 0 0 5px;
  position: relative;
  right: 0;
  transition: right 0.3s;
}
.comment-navigation .nav-next a:hover,
.posts-navigation .nav-next a:hover,
.post-navigation .nav-next a:hover {
  text-decoration: none;
}
.comment-navigation .nav-next a:hover:after,
.posts-navigation .nav-next a:hover:after,
.post-navigation .nav-next a:hover:after {
  right: -3px;
}

.site-header__social {
  float: right;
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}
.is-fixed .site-header__social {
  display: none;
}
.site-header__social li {
  float: left;
  margin: 0 0 0 20px;
  padding: 0;
}

.site-social {
  display: block;
  height: 30px;
  overflow: hidden;
  text-indent: -9999em;
  width: 30px;
}
.site-social:before {
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-family: "cf-net" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #F1F1F1;
  display: block;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-indent: 0;
}
.site-social:hover {
  text-decoration: none;
}
.site-social:hover:before {
  color: #E64A45;
}

.site-social--twitter:before {
  content: 't';
}

.site-social--linkedin:before {
  content: 'l';
}

.site-social--meetup:before {
  content: 'k';
  font-size: 35px;
  line-height: 32px;
}

.site-social--message:before {
  content: 'e';
  font-size: 27px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

input[type="submit"],
button[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.search-form {
  border-bottom: 3px solid #3D4C53;
  position: relative;
  width: 100%;
}
@media (min-width: 480px) {
  .search-form {
    width: 300px;
  }
}
.search-form input[type="text"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #F1F1F1;
  border: 0;
  color: #3D4C53;
  line-height: 30px;
  padding-right: 33px;
  width: 100%;
}
.search-form input[type="text"]:focus {
  color: #3D4C53;
  outline: none;
  outline-style: none;
}
.search-form label {
  display: none;
}
#secondary .search-form {
  width: 100%;
}

.search-button {
  background: none;
  border: none;
  bottom: 3px;
  height: 30px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  transition: none;
  text-indent: -9999em;
  width: 33px;
}
.search-button:before {
  font-family: "cf-net" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
  color: #3D4C53;
  content: 'f';
  display: block;
  font-size: 22px;
  font-size: 2.2rem;
  height: 100%;
  line-height: 30px;
  text-align: center;
  text-indent: 0;
  width: 100%;
}
.search-button:hover {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  border: none;
  color: #3D4C53;
}

.masthead {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  margin-bottom: 1em;
  position: relative;
}
@media (min-width: 720px) {
  .masthead {
    height: 400px;
  }
}
@media (min-width: 1800px) {
  .masthead {
    height: 600px;
    margin-bottom: 3em;
  }
}
.masthead:before {
  background: #4D9ABE;
  content: '';
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
.masthead .container {
  height: 100%;
  position: relative;
}

.masthead__title {
  color: #FFF;
  font-family: "effra", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 80px;
  font-size: 8rem;
  line-height: 1.2;
  margin: 2em auto 0;
  position: relative;
  text-align: center;
  text-shadow: 3px 3px #3D4C53;
  text-transform: uppercase;
  width: 70%;
}
.masthead__title.has-subtitle {
  margin-top: 1.65em;
}

@media (min-width: 960px) {
  .masthead__title--two-lines {
    margin-top: 1.35em;
  }
}
@media (min-width: 1800px) {
  .masthead__title--two-lines {
    margin-top: 35%;
  }
}

.masthead__subtitle {
  color: #FFF;
  font-family: "effra", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-size: 4rem;
  line-height: 1;
  margin: 0.2em auto 0;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px #3D4C53;
  text-transform: uppercase;
  width: 80%;
}

.masthead--typewriter {
  background-image: url("../img/heroes/typewriter.jpg");
}

.home__intro {
  text-align: justify;
}
@media (min-width: 720px) {
  .home__intro {
    width: 65.71429%;
    float: left;
    margin-left: 17.14286%;
    margin-right: -100%;
  }
}
.home__intro .hentry {
  margin-bottom: 1.5em;
}

.home__breakdown--stack {
  background: #F1F1F1;
  padding-top: 2em;
  padding-bottom: 1.5em;
  position: relative;
  text-align: justify;
}
@media (min-width: 1800px) {
  .home__breakdown--stack {
    padding-top: 3em;
    padding-bottom: 1.5em;
  }
}

.home__breakdown--design {
  clear: both;
  width: 40%;
  float: left;
  margin-right: 2.85714%;
  margin-left: 42.85714%;
  position: relative;
  z-index: 2;
}
.home__breakdown--design:before {
  font-family: "cf-net" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e9e9e9;
  content: 'd';
  font-size: 320px;
  font-size: 32rem;
  right: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.home__breakdown--back {
  clear: both;
  width: 40%;
  float: left;
  margin-right: 2.85714%;
  margin-left: 42.85714%;
  position: relative;
  z-index: 2;
}
.home__breakdown--back:before {
  font-family: "cf-net" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e9e9e9;
  content: 'c';
  font-size: 250px;
  font-size: 25rem;
  right: 108.57143%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.home__breakdown--front {
  clear: both;
  width: 40%;
  float: left;
  margin-right: 2.85714%;
  margin-left: 17.14286%;
  position: relative;
  z-index: 2;
}
.home__breakdown--front:before {
  font-family: "cf-net" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e9e9e9;
  content: 'm';
  font-size: 270px;
  font-size: 27rem;
  left: 104.28571%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.home__portfolio,
.home__articles {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
@media (min-width: 1800px) {
  .home__portfolio,
  .home__articles {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

.portfolio__main {
  margin-top: 10px;
}
.portfolio__main .posts-navigation {
  width: 65.71429%;
  float: left;
  margin-left: 17.14286%;
  margin-right: -100%;
}

.portfolio-content {
  width: 65.71429%;
  float: left;
  margin-left: 17.14286%;
  margin-right: -100%;
  text-align: justify;
}
.portfolio-content .post-navigation {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.portfolio-item {
  position: relative;
}
.portfolio-item:before, .portfolio-item:after {
  content: '';
  display: table;
}
.portfolio-item:after {
  clear: both;
}
.portfolio-item:hover .portfolio-item__content {
  opacity: 1;
}
.portfolio-item img {
  float: left;
  height: auto;
  width: 100%;
}

.portfolio-item__content {
  background: rgba(241, 241, 241, 0.7);
  height: 100%;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: opacity 0.3s;
  width: 100%;
}
.portfolio-item__content h3 {
  margin: 20% 0 5%;
}

.article-item p {
  text-align: justify;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.widget {
  margin: 0 0 1.5em;
}

.widget select {
  max-width: 100%;
}
@media (min-width: 720px) {
  .widget select {
    width: 100%;
  }
}

.widget_search .search-submit {
  display: none;
}

.breakpoint-context {
  position: absolute;
  top: -999em;
  left: -999em;
  z-index: 1;
}
@media (min-width: 720px) {
  .breakpoint-context {
    z-index: 2;
  }
}
@media (min-width: 960px) {
  .breakpoint-context {
    z-index: 3;
  }
}

.button, input[type="submit"],
button[type="submit"], .button--message, button {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
  font-family: "effra", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1;
  padding: 12px 16px 10px;
  text-transform: uppercase;
}
.button + .button, input[type="submit"] + .button,
button[type="submit"] + .button, .button--message + .button, button + .button, .button + input[type="submit"], input[type="submit"] + input[type="submit"], .button--message + input[type="submit"], button + input[type="submit"],
.button + button[type="submit"],
button + button[type="submit"], .button + .button--message, input[type="submit"] + .button--message, .button--message + .button--message, button + .button--message, .button + button, input[type="submit"] + button,
button[type="submit"] + button, .button--message + button, button + button {
  margin-left: 20px;
}
.button:hover, input[type="submit"]:hover, .button--message:hover, button:hover {
  text-decoration: none;
}

.button--primary, input[type="submit"],
button[type="submit"], button {
  background: #4D9ABE;
  border: 4px solid #4D9ABE;
  color: #FFF;
}
.button--primary:hover, input[type="submit"]:hover, button:hover {
  background: #FFF;
  border: 4px solid #4D9ABE;
  color: #4D9ABE;
}

.button--primary--ghost {
  background: #FFF;
  border: 4px solid #4D9ABE;
  color: #4D9ABE;
}
.button--primary--ghost:hover {
  background: #4D9ABE;
  border: 4px solid #4D9ABE;
  color: #FFF;
}

.button--primary--ghost-on-hover {
  background: #4D9ABE;
  border: 4px solid #4D9ABE;
  color: #FFF;
}
.button--primary--ghost-on-hover:hover {
  background: transparent;
  border-color: #FFF;
  color: #FFF;
}

.button--secondary {
  background: #E64A45;
  border: 4px solid #E64A45;
  color: #FFF;
}
.button--secondary:hover {
  background: #FFF;
  border: 4px solid #E64A45;
  color: #E64A45;
}

.button--secondary--ghost-on-hover {
  background: #E64A45;
  border: 4px solid #E64A45;
  color: #FFF;
}
.button--secondary--ghost-on-hover:hover {
  background: transparent;
  border-color: #FFF;
  color: #FFF;
}

.button--secondary--ghost {
  background: #FFF;
  border: 4px solid #E64A45;
  color: #E64A45;
}
.button--secondary--ghost:hover {
  border: 4px solid #E64A45;
  background: #E64A45;
  color: #FFF;
}

.button--message {
  font-size: 20px;
  padding: 0 16px 10px;
}
.button--message .icon-atmark {
  margin: 0 3px;
  position: relative;
}
.button--message .icon-atmark:before {
  bottom: -8px;
  font-size: 30px;
  position: relative;
}

.read-more {
  font-family: "effra", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.read-more:after {
  font-family: "cf-net" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: ">";
  font-size: 9px;
  font-size: 0.9rem;
  margin: 0 0 0 5px;
  position: relative;
  right: 0;
  transition: right 0.3s;
}
.read-more:hover {
  text-decoration: none;
}
.read-more:hover:after {
  right: -3px;
}

.back-to-top {
  background: #F1F1F1;
  border: 2px solid #b1b1b1;
  height: 35px;
  margin-top: -18px;
  overflow: hidden;
  position: absolute;
  right: -60px;
  text-decoration: none;
  text-indent: -9999em;
  top: 50%;
  width: 35px;
}
.back-to-top:before {
  font-family: "cf-net" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #b1b1b1;
  content: '^';
  display: block;
  font-size: 13px;
  height: 100%;
  line-height: 30px;
  text-align: center;
  text-indent: 0;
  width: 100%;
}
.back-to-top:hover {
  text-decoration: none;
}

button {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.section--dark {
  background: #415159 url("../img/bg-grid-dark.svg") center;
  color: #FFF;
  padding: 80px 0;
  text-align: center;
}

.has-columns:before, .has-columns:after {
  content: '';
  display: table;
}
.has-columns:after {
  clear: both;
}
.has-columns .columns--three {
  width: 31.42857%;
  float: left;
  margin-bottom: 2.85714%;
}
.has-columns .columns--three:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
.has-columns .columns--three:nth-child(3n + 2) {
  margin-left: 34.28571%;
  margin-right: -100%;
  clear: none;
}
.has-columns .columns--three:nth-child(3n + 3) {
  margin-left: 68.57143%;
  margin-right: -100%;
  clear: none;
}
