//------------------------------------------------
// Fonts
//------------------------------------------------

// Icons
@font-face {
	font-family: 'cf-net';
	src: url('../fonts/cf-net.eot');
	src: url('../fonts/cf-net.eot?#iefix') format('embedded-opentype'),
		url('../fonts/cf-net.woff') format('woff'),
		url('../fonts/cf-net.ttf') format('truetype'),
		url('../fonts/cf-net.svg#cf-net') format('svg');
	font-weight: normal;
	font-style: normal;
}
