//------------------------------------------------
// Icons
//------------------------------------------------

@mixin icon {
	font-family: $font-icons !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
	@include icon;
	content: attr(data-icon);
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	@include icon;
}

.icon-hamburger:before {
  content: "h";
}
.icon-atmark:before {
  content: "a";
}
.icon-twitter:before {
  content: "t";
}
.icon-code:before {
  content: "m";
}
.icon-cogs:before {
  content: "c";
}
.icon-linkedin:before {
  content: "l";
}
.icon-email:before {
  content: "e";
}
.icon-mountain:before {
  content: "s";
}
.icon-categories:before {
  content: "b";
}
.icon-tools:before {
  content: "o";
}
.icon-github:before {
  content: "g";
}
.icon-js:before {
  content: "j";
}
.icon-arrow-right:before {
  content: ">";
}
.icon-arrow-left:before {
  content: "<";
}
.icon-arrow-up:before {
  content: "^";
}
.icon-arrow-down:before {
  content: "v";
}
.icon-css:before {
  content: "3";
}
.icon-html:before {
  content: "5";
}
.icon-exit:before {
  content: "x";
}
.icon-search:before {
  content: "f";
}
.icon-data:before {
  content: "q";
}
.icon-portfolio:before {
  content: "u";
}
.icon-tags:before {
  content: "w";
}
.icon-calendar:before {
  content: "y";
}
.icon-comments:before {
  content: "z";
}
.icon-download:before {
  content: "i";
}
.icon-meetup:before {
  content: "k";
}
.icon-design:before {
  content: "d";
}
