//------------------------------------------------
// Icons
//------------------------------------------------

[data-icon]:before {
	font-family: "cf-net" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "cf-net" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-hamburger:before {
	content: "h";
}
.icon-atmark:before {
	content: "a";
}
.icon-twitter:before {
	content: "t";
}
.icon-code:before {
	content: "m";
}
.icon-cogs:before {
	content: "c";
}
.icon-linkedin:before {
	content: "l";
}
.icon-meetup:before {
	content: "p";
}
.icon-email:before {
	content: "e";
}
.icon-mountain:before {
	content: "s";
}
.icon-design:before {
	content: "d";
}
.icon-portfolio:before {
	content: "b";
}
.icon-tools:before {
	content: "o";
}
.icon-news:before {
	content: "n";
}
.icon-me:before {
	content: "i";
}
.icon-resume:before {
	content: "r";
}
.icon-github:before {
	content: "g";
}
.icon-js:before {
	content: "j";
}
.icon-arrow-right:before {
	content: ">";
}
.icon-arrow-left:before {
	content: "<";
}
.icon-arrow-up:before {
	content: "^";
}
.icon-arrow-down:before {
	content: "v";
}
.icon-css:before {
	content: "3";
}
.icon-html:before {
	content: "5";
}
.icon-exit:before {
	content: "x";
}
.icon-search:before {
	content: "f";
}
.icon-home:before {
	content: "k";
}
.icon-data:before {
	content: "q";
}
