//------------------------------------------------
// Mastheads
//------------------------------------------------

.masthead {
	@include background-size(cover);
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	height: 250px;
	margin-bottom: 1em;
	position: relative;

	@include breakpoint($break-medium) {
		height: 400px;
	}

	@include breakpoint($break-xl) {
		height: 600px;
		margin-bottom: 3em;
	}

	&:before {
		background: $primary;
		content: '';
		height: 100%;
		opacity: 0.5;
		position: absolute;
		width: 100%;
	}

	.container {
		height: 100%;
		position: relative;
	}
}

.masthead__title {
	color: $white;
	font-family: $font-headings;
	font-size: 80px;
	font-size: 8rem;
	line-height: 1.2;
	margin: 0 auto;
	position: relative;
	text-align: center;
	text-shadow: 3px 3px $gray-dark;
	text-transform: uppercase;
	top: 44%;
	width: 70%;
}

.masthead__title__two-lines {

	@include breakpoint($break-large) {
		top: 26%;
	}
	@include breakpoint($break-xl) {
		top: 35%;
	}
}

.masthead--typewriter {
	background-image: url('../img/heroes/typewriter.jpg');
}
