//------------------------------------------------
// Mixins
//------------------------------------------------

// -------------------
// Media Query Helpers
// -------------------

@mixin breakpoint($bp, $direction: min) {
	@media (#{$direction}-width: $bp)  {
		@content;
	}
}





// ---------
// Clearings
// ---------

// Overrides Compass-related issues and stops deprecation warnings
// See: https://github.com/Compass/compass/issues/1924
@mixin box-sizing($value) {
	-moz-box-sizing: $value;
	box-sizing: $value;
}

@mixin clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}




@mixin read-more($pseudo: after) {
	$side: right;
	$margin: 0 0 0 5px;
	$content: '>';

	@if ($pseudo == before) {
		$side: left;
		$margin: 0 5px 0 0;
		$content: '<';
	}

	font-family: $font-headings;
	font-size: 14px;
	font-size: 1.4rem;
	text-transform: uppercase;

	&:#{$pseudo} {
		@include icon;
		content: $content;
		font-size: 9px;
		font-size: 0.9rem;
		margin: $margin;

		position: relative;
		#{$side}: 0;
		transition: #{$side} 0.3s;
	}

	&:hover {
		text-decoration: none;

		&:#{$pseudo} {
			#{$side}: -3px;
		}
	}
}





@mixin search-form {
	border-bottom: 3px solid $gray-dark;
	position: relative;
	width: 100%;

	@include breakpoint($break-small) {
		width: 300px;
	}

	input[type="text"] {
		@include appearance(none);
		@include box-shadow(none);
		@include border-radius(0);
		background: $gray-light;
		border: 0;
		color: $gray-dark;
		line-height: 30px;
		padding-right: 33px;
		width: 100%;

		&:focus {
			color: $gray-dark;
			outline: none;
			outline-style: none;
		}
	}

	label {
		display: none;
	}
}

