//------------------------------------------------
// Navigation
//------------------------------------------------

.site-navigation {
	@include span(9 of 12 last);
	height: 100%;
	
	.menu {
		@include clearfix;
		bottom: 0;
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 10px;

		@include breakpoint($break-medium) {
			right: 15px;			
		}

		li {
			display: inline-block;
			margin: 0 0 0 $space;
			padding: 0;

			&:hover,
			&.current-menu-item,
			&.current_page_parent {
				a {
					text-decoration: none;

					&:before {
						left: 0;
						max-width: 100%;
					}
				}
			}
		}

		a {
			color: $white;
			display: block;
			font-family: $font-headings;
			font-size: 20px;
			font-size: 2rem;
			letter-spacing: 1px;
			padding: $space 0;
			position: relative;
			text-transform: uppercase;

			&:before {
				background: $secondary;
				bottom: 0;
				content: '';
				left: 50%;
				height: 8px;
				max-width: 0;
				position: absolute;
				transition: all 0.2s;
				width: 100%;
			}
		}
	}
}

// Small menu
.menu-toggle {
	display: none;
}

.site-main {
	.comment-navigation,
	.posts-navigation,
	.post-navigation {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.nav-previous {
		float: left;
		width: 50%;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

// Social
.site-header__social {
	float: right;
	list-style: none;
	margin: $space 0 0;
	padding: 0;

	.is-fixed & {
		display: none;
	}

	li {
		float: left;
		margin: 0 0 0 $space;
		padding: 0;
	}
}

.site-social {
	display: block;
	height: 30px;
	overflow: hidden;
	text-indent: -9999em;
	width: 30px;

	&:before {
		@include transition(color 0.2s);
		@include icon;
		color: $gray-light;
		display: block;
		font-size: 30px;
		line-height: 30px;
		text-align: center;
		text-indent: 0;
	}

	&:hover {
		text-decoration: none;

		&:before {
			color: $secondary;
		}
	}
}

.site-social--twitter {
	&:before {
		content: 't';
	}
}

.site-social--linkedin {
	&:before {
		content: 'l';
	}
}

.site-social--meetup {
	&:before {
		content: 'k';
		font-size: 35px;
		line-height: 32px;
	}
}

.site-social--message {
	&:before {
		content: 'e';
		font-size: 27px;
	}
}
