//------------------------------------------------
// Structure
//------------------------------------------------

.container {
	@include clearfix;
	@include container;
	padding: 0 ($space * 0.5);

	@include breakpoint($break-medium) {
		padding: 0 ($space * 0.75);
	}
}

div#fancy_overlay {
	z-index: 130;
}

div#fancy_outer {
	z-index: 190;
}