//------------------------------------------------
// Variables
//------------------------------------------------

// -------------------
// Typography / Rhythm
// -------------------

$space: 20px;





// ------
// Colors
// ------

$white: #FFF;
$gray-light: #F1F1F1;
$gray-dark: #3D4C53;
$black: #000;
$primary: #4D9ABE;
$secondary: #E64A45; // links, etc.





// -----
// Fonts
// -----

$font-icons: 'cf-net'; // Fontastic.me
$font-default: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-headings: 'effra', $font-default; // Typekit
$font-serif: 'ff-tisa-web-pro', Georgia, 'Times New Roman', serif; // Typekit





// -----------
// Breakpoints
// -----------

$break-small: 480px;
$break-medium: 720px;
$break-large: 960px;
$max-width: 1200px;




// ----
// Grid
// ----

$susy: (
	columns: 12,
	container: $max-width
);
