@import '../../../assets/styles/variables.module.scss';

.section {
  text-align: center;
  color: $color-light;
  padding: 40px 0;
  
  @media (min-width: $bp-md) {
    padding: 80px 0;
  }
}

.dark {
  background: $color-gray url('../../../assets/images/bg-grid-dark.svg') center center;
}
