@import '../../../assets/styles/variables.module.scss';

.nav {
  text-align: right;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navList {
  list-style: none;
  margin: auto 0 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 0 0 20px;

    &:hover a,
    .active {
      &:before {
        max-width: 4px;

        @media (min-width: $bp-md) {
          left: 0;
          max-width: 100%;
        }
      }
    }
  }

  a {
    font-size: 16px;
    font-size: 1.6rem;
    padding: $space 0;
    color: $color-light;
    display: block;
    letter-spacing: 1px;
    position: relative;
    font-family: $font-primary;
    text-transform: uppercase;

    @media (min-width: $bp-md) {
      font-size: 20px;
      font-size: 2rem;
    }

    &:before {
      background: $color-secondary;
      content: '';
      left: 0;
      height: 100%;
      max-width: 0;
      position: absolute;
      top: 0;
      transition: all 0.2s;
      width: 100%;

      @media (min-width: $bp-md) {
        bottom: 0;
        left: 50%;
        height: 8px;
        top: auto;
      }
    }

    &:hover {
      text-decoration: none;				
    }
  }
}

.navSocialIcons {
  margin: 20px 0 -10px;
}
